{{/*
  [mod] 上流の NewsArticle ベースの JSON-LD を BlogPosting にリプレース。
   - mainEntityOfPage の @id を BaseURL ではなく Permalink に修正
   - description フィールドを追加（frontmatter description 優先・なければ Summary）
   - author 名は params.author.name 優先、未設定なら Site.Title をフォールバック
   - Page Bundles の thumbnail / image を共通 partial で解決
   - 既定記事画像は default_thumbnail、未設定ならテーマ同梱の images/default.jpg
   - publisher.logo は publisher_logo / author.thumbnail 設定時のみ出力
   - [mod] 文字列手組みの JSON を廃止し、dict を1回 jsonify して safeJS で出力
     （タイトル/説明に "</script>" や引用符・& を含んでも script 境界を壊さない）
*/}}
{{ $defaultThumb := .Site.Params.default_thumbnail | default "images/default.jpg" }}
{{ $imageURL := partial "article-image.html" . | default ($defaultThumb | absURL) }}
{{ $publisher := dict "@type" "Organization" "name" .Site.Title }}
{{ with .Site.Params.publisher_logo | default .Site.Params.author.thumbnail }}
  {{ $publisher = merge $publisher (dict "logo" (dict "@type" "ImageObject" "url" (. | absURL))) }}
{{ end }}
{{ $data := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  "headline" .Title
  "image" (dict "@type" "ImageObject" "url" $imageURL)
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "author" (dict "@type" "Person" "name" (.Site.Params.author.name | default .Site.Title))
  "publisher" $publisher
  "description" (.Params.description | default (.Summary | plainify | truncate 160))
}}
<script type="application/ld+json">{{ $data | jsonify | safeJS }}</script>
