/* 画像のグリッド表示 */

.img-view{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 10px;
    justify-content: start;
    align-content: start;
}

.img-view .thumb-img img{
    width: 100%;
    height: auto;
}
